.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles for the table */
.ant-table {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.ant-table-cell {
  padding: 16px; 
}

.ant-table-thead > tr > th {
  background-color: #f0f2f5;
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #f0f0f0; 
}

.ant-btn-primary {
  background-color: #71b4f3; 
  border-color: #72b8fa;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #7dbcf0; 
  border-color: #40a9ff; 
}
.sider-custom {
  background: linear-gradient(to bottom, #72cfef, #6699FF);
}

/* Style for Sider component */
.ant-layout-sider {
 background-color: #fff; 
}

/* Style for Menu component inside Sider */
.ant-menu {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  color: #ffffff; 
}

/* Style for menu items */
.ant-menu-item {
  font-size: 16px; 
}

/* Style for menu item icons */
.ant-menu-item-icon {
  color: #82b9ec; /* Set icon color */
}

/* Style for selected menu item */
.ant-menu-item-selected {
  background-color: #f0f2f5; /* Set background color */
}
